{{ with .Site.Params.social.homepage -}}
<li class="icon">
	<a href="{{ $.Site.BaseURL }}" title="{{ $.Site.Data.l10n.homepage }}">
		<i class="fa fa-fw fa-home"></i>
	</a>
</li>
{{- end }}

{{ if .Site.Params.social.rss -}}
<li class="icon">
	<a href="{{ $.Site.BaseURL }}index.xml" title="{{ $.Site.Data.l10n.rssSubscribe }}">
		<i class="fa fa-fw fa-rss"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.email -}}
<li class="icon">
	<a href="mailto:{{ $.Site.Params.social.email }}" title="{{ $.Site.Data.l10n.email }}">
		<i class="fa fa-fw fa-envelope"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.facebook -}}
<li class="icon">
	<a href="https://www.facebook.com/{{ $.Site.Params.social.facebook }}" title="{{ $.Site.Data.l10n.facebook }}">
		<i class="fab fa-fw fa-facebook"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.github -}}
<li class="icon">
	<a href="https://github.com/{{ $.Site.Params.social.github }}" title="{{ $.Site.Data.l10n.github }}">
		<i class="fab fa-fw fa-github"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.googleplus -}}
<li class="icon">
	<a href="https://plus.google.com/{{ $.Site.Params.social.googleplus }}" title="{{ $.Site.Data.l10n.googleplus }}">
		<i class="fab fa-fw fa-google-plus"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.instagram -}}
<li class="icon">
	<a href="https://instagram.com/{{ $.Site.Params.social.instagram }}" title="{{ $.Site.Data.l10n.instagram }}">
		<i class="fab fa-fw fa-instagram"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.linkedin -}}
<li class="icon">
	<a href="https://www.linkedin.com/in/{{ $.Site.Params.social.linkedin }}" title="{{ $.Site.Data.l10n.linkedin }}">
		<i class="fab fa-fw fa-linkedin"></i>
	</a>
</li>
{{- end }}


{{ with .Site.Params.social.twitter -}}
<li class="icon">
	<a href="https://twitter.com/{{ $.Site.Params.social.twitter }}" title="{{ $.Site.Data.l10n.twitter }}">
		<i class="fab fa-fw fa-twitter"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.youtube -}}
<li class="icon">
	<a href="https://www.youtube.com/user/{{ $.Site.Params.social.youtube }}" title="{{ $.Site.Data.l10n.youtube }}">
		<i class="fa fa-fw fa-youtube"></i>
	</a>
</li>
{{- end }}
